@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
#main-wrapper .navigation-bar {
  margin-bottom: 4rem;
}

.user-courses-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.course {
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f2f9ff;
}
.course#empty-course {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.course#empty-course img {
  width: 32px;
  height: 32px;
  padding: 1.5rem;
  box-sizing: content-box;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
}

.course__title {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.course__step {
  margin-top: 2rem;
  font-size: 2rem;
  color: #636363;
}

.more-courses {
  font-size: 2rem;
  color: #000;
}

.events-section {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-left: 4px solid #000;
}
.event#lection {
  border-color: #fffb00;
}
.event#practice {
  border-color: #ff7b00;
}

.event__date {
  font-size: 2rem;
}

.event__theme {
  margin-top: 2rem;
}

.event__name {
  margin-top: 1rem;
  color: #636363;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 8px;
  font-family: "Montserrat";
  color: #000;
  background-color: #fff;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  padding: 4rem 4rem;
}

.block {
  margin-top: 3rem;
}

.main-title {
  font-size: 42px;
  font-weight: 700;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 600;
}

.text {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

span.accent {
  color: #7795ff;
}

img.svg {
  fill: #000;
}
.navigation-bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 100%;
  background-color: #e0e0e0;
}

.profile-name {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
  transition: 0.3s ease-out;
  background-color: #f2f9ff;
}

.sidebar-btn-animation {
  transform: rotate(90deg);
  transition: 0.3s ease-in;
}

.navbar-icon {
  width: 24px;
  height: 24px;
}
.sidebar {
  position: absolute;
  width: 75%;
  height: 100%;
  padding: 6rem 4rem;
  background-color: #181818;
  transform: translateX(-100%);
  transition: 0.3s ease-out;
}

.sidebar-animation {
  transform: translateX(0%);
  transition: 0.3s ease-in;
}

.sidebar-title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  color: #fff;
}

.menu-element {
  font-size: 2rem;
  color: #fff;
}